//Header
$headerbackground: #ebf9ff;


//Article
$boxtextcolor: grey;
$texth3: black;
$communitycolor: white;

//Footer
$footercolor: white;
$footerbackgroundcolor: #00252e;

//Buttons
$buttoncolor: #fe52c0;
$buttontextcolor: white;


$navbuttoncolor: white;
$navhoverbackground: black;
$navhovercolor: white;
